html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-family:"arial";
    font-weight: bold;
    box-sizing: border-box;
}
body{
    background-color:rgb(11, 135, 167);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
}
.panel{
    margin:1% 0 1% 0;
    background-color:white;
    border-radius: 5px;
    padding:15px 25px;
    width:100%;
    max-width: 960px;
    display:flex;
    flex-direction: column;
   
    
}
.pricing-plan
{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    align-items: center;

}
.pricing-plan:last-child
{
    border-bottom: none;
}
.pricing-img{
    margin:10px;
    max-width:100%;
    
}
.pricing-header{
    color: gray;
    font-weight: 600;
    letter-spacing: 1px;
}
.pricing-features{
    margin:50px 0 25px;
    color: rgb(11, 135, 167);
    
}
.pricing-features-item{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    border-top:1px solid gray;
    line-height:1.5;
    padding:15px 0;
    

}
.pricing-features-item:last-child{
    border-bottom:1px solid gray;
}
.pricing-price{
    color: rgb(11, 135, 167);
    display: block;
    font-size: 32px;
    font-weight: 700;
}
 .pricing-button{
     color: white;
    border:2px solid rgb(116, 193, 238);
    border-radius: .7em;
    background: rgb(11, 135, 167);
    padding:.5em 1.4em;
    text-decoration: none;
    margin:.7em 0;
    transition: background-color 200ms ease-in-out ;
    

}
.pricing-button:hover{
    background-color:rgb(71, 210, 245);
}
.pricing-button.is-featured{
    background: white;
    color:rgb(11, 135, 167);
    transition:background-color 200ms ease-in-out ;
    /* transition:color 200ms ease-in-out ; */
}
.pricing-button.is-featured:hover,.pricing-button.is-featured:focus{
    color: white;
    background-color:rgb(11, 135, 167);

}
@media(min-width:900px)
{
    .panel{
        flex-direction: row;
    }
    .pricing-plan{
        border-bottom: none;
        border-right:1px solid gray;
        padding:0 50px;
        
    }
    .pricing-plan:last-child{
        border-bottom: none;
        border-right:none;
        
        
    }
}